h2 {
  width: 100%;
}

.basetext {
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
}

.TileRow {
  display: flex;
    justify-content: space-between;
    gap: 5px;  /* Space between items within a row */
    margin-bottom: 0px; /* Space between rows */
}

/* an id can only be had by a single element, as opposed to a class with many elements
ID's are useful for linking to a specific section of the same page or in a different one */
#titlecard {
  background-color: blueviolet;
}

.projectItem {
  float: left;
  border: 2px solid black;
  border-radius: 15px;
  margin: 2%;
  width: 30%;
  height: 30%;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.projectItem:hover {
  transform: scale(1.1); /* Enlarge on hover */
  border-color: blue; /* Change border color */
}

.projectItem img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}